# Byte-compiled / optimized / DLL files
/api/__pycache__/
/api/*.py[cod]
/api/*$py.class

# C extensions
/api/*.so

# Distribution / packaging
/api/.Python
/api/build/
/api/develop-eggs/
/api/dist/
/api/downloads/
/api/eggs/
/api/.eggs/
/api/lib/
/api/lib64/
/api/parts/
/api/sdist/
/api/var/
/api/wheels/
/api/*.egg-info/
/api/.installed.cfg
/api/*.egg
/api/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
/api/*.manifest
/api/*.spec

# Installer logs
/api/pip-log.txt
/api/pip-delete-this-directory.txt

# Unit test / coverage reports
/api/htmlcov/
/api/.tox/
/api/.coverage
/api/.coverage.*
/api/.cache
/api/nosetests.xml
/api/coverage.xml
/api/*.cover
/api/.hypothesis/
/api/.pytest_cache/

# Translations
/api/*.mo
/api/*.pot

# Django stuff:
/api/*.log
/api/local_settings.py
/api/db.sqlite3

# Flask stuff:
/api/instance/
/api/.webassets-cache

# Scrapy stuff:
/api/.scrapy

# Sphinx documentation
/api/docs/_build/

# PyBuilder
/api/target/

# Jupyter Notebook
/api/.ipynb_checkpoints

# pyenv
/api/.python-version

# celery beat schedule file
/api/celerybeat-schedule

# SageMath parsed files
/api/*.sage.py

# Environments
/api/.env
/api/.venv
/api/env/
/api/venv/
/api/ENV/
/api/env.bak/
/api/venv.bak/

# Spyder project settings
/api/.spyderproject
/api/.spyproject

# Rope project settings
/api/.ropeproject

# mkdocs documentation
/api/site

# mypy
/api/.mypy_cache/

# .idea
/api/.idea/
/api/.DS_Store

.DS_Store
/clinet/node_modules/
/client/dist/

# local env files
/client/.env.local
/client/.env.*.local

# Log files
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# Editor directories and files
/client/.idea
/client/.vscode
/client/*.suo
/client/*.ntvs*
/client/*.njsproj
/client/*.sln
/client/*.sw*
